@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.text-red {
    color: #FA0F00;
}
.nav-button::before {
    content: "\2630";
    font-size: 14px;
}