@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.font-noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.bg-adobe {
    background-color: #FBFBFB;
}
.bg-red {
    background-color: #F40F00;
}
.text-red {
    color: #F40F00;
}
.nav-button::before {
    /* x */
    content: "\2715"; 
    font-size: 24px;

    /* hamburger */
    content: "\2630"; 
    font-size: 14px;
}
.mb-9 {
    margin-bottom: 2.25rem;
}
.section-container {
    max-width: 83.4%;
    margin: 0 auto;
}
.pr-7 {
    padding-right: 1.75rem;
}
.pb-13 {
    padding-bottom: 3.25rem;
}
.pb-15 {
    padding-bottom: 3.75rem;
}
.h-15 {
    height: 3.75rem;
}
.h-25 {
    height: 6.25rem;
}
.leading-relaxed {
    line-height: 1.7;
}
.leading-5{
    line-height: 1.75rem;
}
.leading-title {
    line-height: 2.2rem;
}
#solution-1 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-Digital-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
#solution-2 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-Content-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
#solution-3 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-Data-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
#solution-4 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-CustomerJourneys-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
#solution-5 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-Marketing-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
#solution-6 {
    background-image: url(https://business.adobe.com/content/dam/dx/us/en/homepage/summit/DOTCOM-36160-DXHomepage-Tabs-Solutions-ExperiencePlatform-Tablet-308x260%402x.png.img.png);
    background-size: cover;
    background-position: 100% 99%;
}
.curtain,
nav.flex,
footer ul ul li {
    display: none;
}
#ul-visible li,
#ul2-visible li {
    display: flex !important;
}

#footer-region::after {
    content: '⌄';
    display: block;
    color: #7d7a7a;
    margin-left: 5px;
    margin-bottom: 10px;
  font-size: 1.25rem;
    font-weight: 500;
}
.slash::after {
  margin: 0 8px;
  color: #4B4B4B;
  font-size: 0.6rem;
  content: '/';
}
.ul-arrow-header::after {
  color: #737373;
  font-size: 1.25rem;
  content: '⌄';
  position: absolute;
  right: .75rem;
  top: -50%;
}
.ul-arrow-footer::after {
  color: #737373;
  font-size: 1.25rem;
  content: '⌄';
  position: absolute;
  right: .75rem;
  top: -.25rem;
}
input::placeholder {
    font-size: .875rem;
    font-weight: 300;
}
/*
.bg-adobe li ul {
    display: none;
}
.ul-check,
.ul-check li ul {
    display: block !important;
}
 nav ul li active
::before {
  content: "";
  background: #2c2c2c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  z-index: 1;
}
*/
#section2-hr {
    padding-top: 4.5rem;
}
@media screen and (min-width: 419px) {
    #grey-button-cont {
        flex-direction: row;
        align-items: center;
        margin-top: 1.25rem;
    }
    #grey-button-cont div {
        width: auto;
        margin-right: 1rem;
        margin-bottom: 0;
    }
    #section2-card-cont {
        padding-bottom: 0.5rem;
    }
    #section2-card-cont h2 {
        margin-bottom: 0.25rem;
    }
    #section2-hr {
        padding-top: 3.7rem;
    }
    #solutions-cont h2 {
        padding-bottom: 2.75rem;
    }
}


.circle {
    border-radius: 0;
    position: relative;
    height: 100dvh;
    overflow: hidden;
    z-index: -1;
}
.circle img {
    border-radius: 0;
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
    border:1px solid #fff;
    position: absolute;
    animation: swing linear infinite 18s;
}
.circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 80%,rgba(255,255,255,1) 100%); */
    -webkit-box-shadow: inset 0px 0px 27px 42px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 27px 42px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 27px 42px rgba(255, 255, 255, 1);
    border-radius: 0;
    position: absolute;
    top: 0; left: 0;
}





.outer-circle {
  perspective: 500px;
}

/* clear background */
.circle h2 {
  text-align: center;
  padding: 16px;
  margin: 0;
}

/* crops animations that exceeds one line area */
.line {
  width: 180%;
  height: 100dvh;
  overflow: hidden;
  padding: 15rem 10px;
  margin: 2rem 0;
  position: absolute;
  text-align: center;
  top: 34dvh;
  left: -40%;
  z-index: 10;
}

/* flipY class and keyframes*/
.flipY {
  animation-name: depth, rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  font-family: monospace;
  font-size: 1.25rem;
  color: skyblue;
}
@keyframes depth {
  0% {
    text-shadow: 0 0 midnightblue;
  }
  25% {
    text-shadow: 1px 0 midnightblue, 2px 0 midnightblue, 4px 0 midnightblue, 8px 0 midnightblue, 12px 0 midnightblue;
  }
  50% {
    text-shadow: 0 0 midnightblue;
  }
  75% {
    text-shadow: -1px 0 midnightblue, -2px 0 midnightblue, -4px 0 midnightblue, -8px 0 midnightblue,
      -12px 0 midnightblue;
  }
  100% {
    text-shadow: 0 0 midnightblue;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
  17% {
    transform: rotateZ(40deg) rotateY(100deg);
  }
  33% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
  51% {
    transform: rotateZ(-60deg) rotateY(-30deg);
  }
  67% {
    transform: rotateZ(30deg) rotateY(0deg);
  }
  85% {
    transform: rotateZ(40deg) rotateY(100deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(.2deg);
  }
  40% {
    transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(.07deg);
  }
  80% {
    transform: rotateZ(-.2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}